* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgb(54, 64, 87);
    letter-spacing: 1px;
    height: 100dvh;
    overflow: hidden;
    position: relative;
}

.overlay::before {
    content: "";
    position: absolute;
    z-index: 900;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
}

.info {
    text-align: center;
}

.info p {
    text-transform: capitalize;
}

.game {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.game .flex {
    display: flex;
    gap: 80px; /* Minimum Horizontal Space */
    align-items: flex-start;
    justify-content: space-between;
}

.figure {
    fill: none;
    stroke: white;
    stroke-width: 4px;
    stroke-linecap: round;
}

svg line, circle {
    transition: 0.3s;
}

.body-part-hidden {
    opacity: 0;
}

.game .wrong-letters {
    text-align: center;
    position: relative;
}

.game .wrong-letters p {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 18px;
    margin: 8px auto;
    position: absolute;
    width: 150px;
    left: 50%;
    translate: -50%;
}

.game .letter-placeholders {
    margin-top: 30px;
    margin-inline: auto;
    width: fit-content;
}

.game .letter-placeholders .letter {
    display: inline-block;
    background-color: rgb(183, 193, 214);
    width: 30px;
    height: 3px;
    position: relative;
    margin-inline: 6px;
}

.game .letter-placeholders .letter::after {
    content: attr(data-letter);
    position: absolute;
    /* top: -50px; */
    left: 50%;
    translate: -50%;
    color: white;
    font-size: 1.7rem;
    font-weight: bold;
    background-color: rgb(84, 103, 114);
    padding: 0 5px 5px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    text-transform: uppercase;
    opacity: 0;
    top: 0px;
}

.letter-visible::after {
    animation-name: letter;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;    
    animation-fill-mode: forwards;
}

@keyframes letter {
    0% {
        opacity: 0;
        top: -20px
    }

    100% {
        opacity: 1;
        top: -50px
    }
}

.pressed-before {
    position: absolute;
    bottom: -60px;
    left: 50%;
    translate: -50%;
    padding: 15px 15px 20px;
    border-radius: 8px;
    background-color: rgb(32, 38, 51);
}

.pressed-before-visible {
    animation-name: error-same-letter;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

@keyframes error-same-letter {
    0% {
        bottom: -60px;
    }
    
    20% {
        bottom: -5px;
    }

    80% {
        bottom: -5px
    }

    100% {
        bottom: -60px;
    }
}

.you-lost {
    background-color: rgb(48, 117, 173);
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 8px;
    padding: 20px 30px;
    width: 350px;
    z-index: 999;
    opacity: 0;
    transition: 0.3s;
}

.you-lost h2 {
    margin: 20px auto;
    width: fit-content;
}

.you-lost button {
    display: block;
    margin-top: 30px;
    margin-inline: auto;
    background-color: white;
    color: rgb(48, 117, 173);
    border: 1px solid rgb(48, 117, 173);
    outline: none;
    padding: 15px 20px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.1s;
}

.you-lost button:hover {
    background-color: rgb(233, 233, 233);
}

.show-play-again {
    opacity: 1;
}