* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgb(54, 64, 87);
    letter-spacing: 1px;
}

.info {
    text-align: center;
}

.info p {
    text-transform: capitalize;
}

.game {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.game .flex {
    display: flex;
    gap: 80px; /* Minimum Horizontal Space */
    align-items: flex-start;
    justify-content: space-between;
}

.figure {
    fill: none;
    stroke: white;
    stroke-width: 4px;
    stroke-linecap: round;
}

.game .letter-placeholders {
    margin-top: 30px;
    margin-inline: auto;
    width: fit-content;
}

.game .letter-placeholders .letter {
    display: inline-block;
    background-color: rgb(183, 193, 214);
    width: 30px;
    height: 3px;
    position: relative;
    margin-inline: 6px;
}

.game .letter-placeholders .letter::after {
    content: attr(data-letter);
    position: absolute;
    top: -50px;
    left: 50%;
    translate: -50%;
    color: white;
    font-size: 1.7rem;
    font-weight: bold;
    background-color: rgb(84, 103, 114);
    padding: 0 5px 5px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    text-transform: uppercase;
}