* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgb(54, 64, 87);
    letter-spacing: 1px;
}

.info {
    text-align: center;
}

.info p {
    text-transform: capitalize;
}

.game {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.figure {
    fill: none;
    stroke: white;
    stroke-width: 4px;
    stroke-linecap: round;
}

.game .letter-placeholders {
    margin-top: 30px;
}

.game .letter-placeholders .letter {
    display: inline-block;
    background-color: rgb(183, 193, 214);
    width: 25px;
    height: 3px;
    position: relative;
    margin-inline: 2px;
}